.table-container {
  margin-top: 20px;
}

.pagination-container {
  margin-top: 20px;
}

/* Customize the table styles */
.table {
  font-size: 16px;
}

.table thead th {
  background-color: #4d92d6;
  color: white;
}

.table tbody td {
  background-color: #e7e8e9;
}

/* Customize the pagination styles */
.pagination {
  justify-content: center;
}

.pagination a {
  color: #007bff;
  cursor: pointer;
}

.pagination .active a {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}