/* Import Bootstrap styles */
@import '~bootstrap/dist/css/bootstrap.min.css';


.table-container {
  margin-top: 20px;
}

.pagination-container {
  margin-top: 20px;
}

.table {
  font-size: 16px;
}

.table thead th {
  background-color: #343a40;
  color: white;
}

.table tbody td {
  background-color: #f8f9fa;
}


.pagination {
  justify-content: center;
}

.pagination a {
  color: #007bff;
  cursor: pointer;
}

.pagination .active a {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
